.excel-table
  position: absolute
  top: $header-height + $toolbar-height + $formula-height
  left: 0
  right: 0
  overflow-x: auto
  padding-bottom: 2px
  &-row
    display: flex
    min-height: 20px
    height: $row-height
    &-info
      display: flex
      align-items: center
      justify-content: center
      min-width: $info-cell-width
      height: 100%
      border: 1px solid $border-color
      border-top: none
      background-color: #f8f9fa
      position: relative
      &_resize
        left: 0
        height: 4px
        cursor: row-resize
    &-data
      display: flex
  &-column
    display: flex
    align-items: center
    justify-content: center
    background-color: #f8f9fa
    min-width: 40px
    width: $cell-width
    height: 100%
    border: 1px solid $border-color
    border-top: none
    border-left: none
    position: relative
    &_resize
      top: 0
      width: 4px
      cursor: col-resize
  &-row-info, &-column
    &_resize
      position: absolute
      bottom: 0
      right: 0
      background-color: $main-color
      opacity: 0
      z-index: 100
      &:hover
        opacity: 1
  &-cell
    color: #111111
    min-width: 40px
    width: $cell-width
    height: 100%
    padding: 5px
    border: 1px solid #e2e3e3
    border-top: none
    border-left: none
    white-space: nowrap
    outline: none
    &__selected
      border: none
      outline: 2px solid $main-color
      z-index: 2